/* Style sheet created by: Adrian Arias, 4/28/2020 */

/* Style for body specifies a background color */
body {
	background-color: #C8DBE3;
}

/* Style for the container element */
#container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header element */
header {
	font-family: Verdana, Arial, sans-serif;
	margin-top: 0.2em;
	background-color: #0419B8;
	color: #FFFFFF;
	padding: 0.5%;
}

/* Style for the nav element */
nav {
	background-color: #5162E0;
	padding: 0.5%;
}

/* Style for the nav list item elements */
nav li {
	display: inline;
}

/* Style for the nav links element */
nav li a {
	color: #FFFFFF;
	padding-left: 2%;
	padding-right: 2%;
	text-decoration: none;
}

/* Style for the main element  */
main {
	display: block;
	margin: 1%;
	padding: 1em;
	border-radius: 1em;
	background-color: #FFFFFF;
	box-shadow: .5em .5em .5em #404040;
	float: left;
	width: 65%;
}

/* Style for video*/
.video{
	border-style: double;
	border-color: #0419B8;
	border-radius: 1em;
	border-width: .5em;
	width: 640px;
	height: 420px;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
	clear: left;
}

/* Style for the aside element */
aside {
  background-color: #0419B8;
  border-radius: 3em;
  width: 25%;
  float: right;
  padding: 2%;
  margin-top: 1%;
  color: #FFFFFF;
}