/* Adrian Arias 4/30/2020*/

body 
{ 
	background-color: #FFFFFF;
    color: #666666;
	family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
    color: #FFFFFF; 
	background-image: url(sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

nav
{ 
	background-color: #90C7E3;
     font-weight: bold;
}

nav a 
{ 
	text-decoration: none; 
}

h1 
{ 
	margin-bottom: 0; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 
{ 
	color: #3399CC; 
    font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
    family: Georgia, 'Times New Roman', serif; 
}

ul 
{ 
	list-style-image: url(marker.jpg); 
} 

footer 
{ 
	font-size: 75%;
    font-style: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	background: linear-gradient(0deg, rgba(51,153,204,1) 0%, rgba(255,255,255,1) 100%);
}
	   
dt 
{ 
	color: #000033; 
}

.resort 
{ 
	color: #5C7FA3; 
    font-weight: bold;
}

#contact
{ 
	font-size: 90%; 
}

/*Mobile*/
@media only screen and (max-width: 425px) {

	nav{
		display: block;
	}

	.luxury{
		display: none;
	}

	#coast{
        display: none;
	}

}

/*Tablet*/
@media only screen and (max-width: 768px) {
	
	.luxury{
	   display: block;
	}

}

