/* Adrian Arias 4/16/2020*/

body{
    background-image: linear-gradient(to right, yellow, orange, red, purple);
    text-align: center;
}
.MusicTable{
    background-color: white;
    border: 3px solid black;       
}
.FoodTable{
    background-color: white;
    border: 3px solid black;       
}
caption{
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center; 
    padding-top: 5px;
}
th, td{
    border: 1px solid black;
}
tfoot{
    text-align: center;
}

tr:nth-child(even){
    background-color: gray;
    color: white;
}


